form(method="POST" action="/new")
  label(for="messageUser") User:
  input(type="text" name="messageUser")
  label(for="messageText") Message:
  input(type="text" name="messageText")
  input(type="submit" value="Submit")
